{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ring/ring-core {:mvn/version "1.12.2"}
  ring/ring-jetty-adapter {:mvn/version "1.12.2"}
  ring/ring-json {:mvn/version "0.5.1"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}   ;; 👈 ADICIONE ISSO

  metosin/reitit-ring {:mvn/version "0.7.0"}}

 :aliases
 {:run
  {:main-opts ["-m" "todo.backend.core"]}}}
